# ignorar pasta venv
venv/

# ignorar arquivos com extensão .csv
*.csv

# ignorar arquivos com extensão .xlsx
*.xlsx

# ignorar arquivos com extensão .png
*.png

# ignorar arquivos com extensão .dat
*.dat